<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="static/app.css" />
		{{!fonts }}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Newsreader&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
		<script src="static/app.bundle.js" defer></script>
		{{!importing helper function 
		<script src="../src/js/handlebars_helper_if_eq.js"></script>
		
		TODO add meta tags
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"> ... choose one of these
		<meta name="viewport" content="width=device-width, initial-scale=1">  .... mobile screen
		}}
		<title>Telegraph News Article</title>
	</head>

	<body>
			{{> header }}
			{{{body}}}

	</body>
</html>


