<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/app.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Newsreader&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
		<script src="static/app.bundle.js" defer></script>
		<meta name="theme-color" content="#317EFB"/>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This article for The Telegraph and refers to {{{article.post.standfirst}}}"/>
		<title>Telegraph News Article for {{{article.post.title}}}</title>
	</head>
	<body>
			{{> header }}
			{{{body}}}
	</body>
</html>


