<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="static/app.css" />
	<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
		<script src="static/app.bundle.js" defer></script>
		<title>Telegraph News Article</title>
	</head>
	<body>
		
			{{> header }}
			{{{body}}}
	
	</body>
</html>


