@import 'core/reset.css';
@import 'elements/site-logo.css';

.container{
    padding: 20px;
    display:inline-block
}

.article__title{
    font-family: 'Newsreader', serif;
	font-size: 2em;
	font-weight: bold;
}

.article__stand{
    font-family: 'Newsreader', serif;
	font-size:1.2em;
}

.article__date{
    font-family: 'Newsreader', serif;
	font-size:0.8em;
	color: slategray;
    padding-top: 5px;
}

.article__stories-title{
    font-family: 'Newsreader', serif;
	font-size: 1.3em;
	font-weight:bold;
	text-decoration: underline;
    padding-bottom: 5px;
}

.article__body{
    font-family: 'Newsreader', serif;
}

p{
    text-align: justify;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height:1.3;
    margin-top:0;
    margin-bottom: 16px;
}

.article__image{
    padding: 8px;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.post{
    padding: 5px;
    border-bottom: 1px solid slategray;
    display: flex;
    align-items: center;
    justify-content: left;
}

.post__image{
    border: 1px solid slategray; 
    padding: 2px;
    height:50px;
    width: 50px; 
    display: flex;
    align-items: center;
    
}

.post__title{
    margin: 5px;
    margin-left : 10px;
    display: flex;
    align-items: center;
}

.comments__header{
    font-family: 'Newsreader', serif;
    font-weight:bold;
    justify-content: left;
    padding-bottom : 5px;
}

.comment__row {
    font-family: 'Newsreader', serif;
    border-bottom: solid 1px slategray;
    border-top: solid 1px slategray;
    display: flex;
    align-items: center;
    height: 40px;
}

.comment__body{
    margin-bottom: 0px;
}

.comment{
    padding: 10px;
    border-bottom: solid 1px slategray;
    display: flex;
    align-items: center;
}
/* This media should change the order of elements for teh mobile view 
TODO: fix the mobile view ordering   */

@media screen and (max-width: 531px) {
    .container { display: flex; flex-flow: column; }
    .image { order: 1; }
    .article__header { order: 2;  }
    .body { order: 3; }
    .comments { order: 4; }
    .article__stories { order: 5; }
}



