@import 'core/reset.css';
@import 'elements/site-logo.css';


.article__title{
    font-family: 'Newsreader', serif;
	font-size: 2em;
	font-weight: bold;
}

.article__stand{
    font-family: 'Newsreader', serif;
	font-size:1.2em;
}

.article__date{
    font-family: 'Newsreader', serif;
	font-size:0.8em;
	color: slategray;
    padding-top: 5px;
}

 
.article__stories-title{
    font-family: 'Newsreader', serif;
	font-size: 1.3em;
	font-weight:bold;
	text-decoration: underline;
    padding-bottom: 5px;
}

.article__body{
    font-family: 'Newsreader', serif;
}

p {
    text-align: justify;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height:1.3;
    margin-top:0;
    margin-bottom: 16px;
  }

.article__image{
    padding: 8px;
    height: 400px;
    max-width: 500px;
    object-fit: contain;
}

.post{
    padding: 5px;
    border-bottom: 1px solid slategray;
    display: flex;
    align-items: center;
}

.post__image{
    border: 1px solid slategray; 
    padding: 2px;
    height:50px;
    width: 50px; 
    object-fit: contain;
}

.post__title{
    vertical-align: middle; 
    margin-left: 5px;
}

.comments__header{
    font-family: 'Newsreader', serif;
	font-size:1em;
    font-weight:bold;
    justify-content: left;
    padding : 2px;
}

.comment__row {
    border-bottom: solid 1px slategray;
    border-top: solid 1px slategray;
    display: flex;
    align-items: center;
    height: 40px;
}

.comment{
    padding-top: 5px;
    border-bottom: solid 1px slategray;
    display: flex;
    align-items: center;
   
}




